
<%= link_to 'Download PDF', get_details_welcome_index_path(username: params[:username], format: :pdf), class: 'pdf_link' %>
<div class="twitter">
  <h1>Twitter Profile</h1>
  <h3>Tweets:</h3>
  <ul class="profile">
    <% @twitter_data.each do |tweet| %>
        <li><%= tweet.full_text %></li>
    <% end %>
  </ul>
</div>

<div class="github">
  <h1>Github Profile</h1>
  <h3>Joining Date: <%= @github_profile.to_date.strftime('%a, %d %b %Y') if @github_profile %></h3>
  <h3>Repositories:</h3>
  <ul class="profile">
    <% @github_repos && @github_repos.each do |repo| %>
        <li><%= repo.name %></li>
    <% end %>
  </ul>
</div>
<div class="ruby_gems">
  <h1>RubyGems Profile</h1>
  <h3>Email: <%= @ruby_gems_profile['email'] %></h3>
  <h3>Gems:</h3>
  <ul class="profile">
    <% @ruby_gems_repos.each do |repo| %>
        <li><%= repo %></li>
    <% end %>
  </ul>
</div>